---
import { Icon } from "astro-icon/components";
import { icons } from "@/lib/icons";
---

<footer class="mt-20 border-t border-zinc-800 py-6">
  <div class="container mx-auto px-4">
    <div class="flex flex-col md:flex-row justify-between items-center gap-4">
      <div class="text-sm text-zinc-400">
        © {new Date().getFullYear()} Skanda Ganesh . All rights reserved.
      </div>
      
    </div>
  </div>
</footer>
